In [136]:
from google.oauth2.credentials import Credentials
from googleapiclient.discovery import build
import pandas as pd
import numpy as np
import time
from datetime import datetime

In [2]:
# Set the authorized user information
authorized_user_info = {
    "client_id":"877684305447-vcqgmavesu21bid9hnclj60b4k81kv56.apps.googleusercontent.com",
    "project_id":"numbers-372819",
    "auth_uri":"https://accounts.google.com/o/oauth2/auth",
    "token_uri":"https://oauth2.googleapis.com/token",
    "auth_provider_x509_cert_url":"https://www.googleapis.com/oauth2/v1/certs",
    "client_secret":"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",
    "redirect_uris":["http://localhost"],
    "refresh_token":"1//04wlNsj33AMaDCgYIARAAGAQSNgF-L9Ir2NFkQVWr1_rd3Q5PsBl1qM7_KHuRbdBV0En7cDPwXMUHtBrymVKdkRxsZxvxR-vLjQ"
}

In [167]:
# Set the sheet ID and range for the data you want to fetch
SHEET_ID = '13ufTqDDPhACkQruhbHwnCsueHxEIedOHufmhaXZs2eU'
RANGE_NAME = 'Acquisitions!A1:Z'

# Authenticate with the Google Sheets API
# creds = mock.Mock(spec=credentials.Credentials)
creds = Credentials.from_authorized_user_info(info=authorized_user_info)
# print(creds.__dict__)
service = build('sheets', 'v4', credentials=creds)

# Set up a loop to fetch the data at intervals
# while True:
# Call the Sheets API to fetch the data
result = service.spreadsheets().values().get(spreadsheetId=SHEET_ID, range=RANGE_NAME).execute()
values = result.get('values', [])
    

# Print the fetched data
print(values[0:10])

    # Wait for 10 seconds before fetching the data again
#     time.sleep(10000)

[['Till Number', 'Till Status', 'Till Creation Date', 'Till Name', 'Company Name', 'Merchant Category', 'Merchant Category Description', 'Original Channel', 'Channel', 'County', 'Region', 'Onboarder', '1st 30 Milestone Date', '1st 30 Transaction Volume', '2nd 30 Milestone Date', '2nd 30 Transaction Volume', '3rd 30 Milestone Date', '3rd 30 Transaction Volume', 'First Transaction Date', 'Last Transaction Date'], ['525356', 'Active', '4/13/2022', 'Jub Traders - Kariobangi North', 'Jub Traders', 'Miscellaneous Retail', 'Miscellaneous Specialty Retail', 'Online', 'Online', 'Nairobi', 'Nairobi', 'Zipporah Nekesa', '5/12/2022', '888011', '6/11/2022', '942180', '7/11/2022', '822134', '4/13/2022', '12/22/2022'], ['525356-ARCHIVED-82874', 'Archived', '4/11/2022', 'Jub Traders - Kariobangi North', 'Job Ploythene', 'Miscellaneous Retail', 'Miscellaneous Specialty Retail', 'Coca Cola', 'Additional Till', 'Nairobi', 'Nairobi', 'John Kyule', '5/10/2022', '8331', '6/9/2022', '', '7/9/2022', '', '4/11/2022', '4/12/2022'], ['3032485', 'Active', '5/10/2022', 'JUNMO DISTRIBUTORS', 'JUNMO DISTRIBUTORS', 'Restaurants & Bars', 'Package Stores-Beer, Wine, and Liquor', 'Kopo Kopo DSR', 'Kopo Kopo DSR', 'Kiambu', 'Nairobi', 'Daniel Makori Mokebo', '6/8/2022', '360971', '7/8/2022', '456292', '8/7/2022', '622181', '5/12/2022', '12/22/2022'], ['3032487', 'Active', '5/10/2022', 'KEFAS HARDWARE & SOLAR SYSTEMS - Peter Kariuki', 'KEFAS HARDWARE & SOLAR SYSTEMS - Peter Kariuki', 'Hardware, building supply, gardening, tools', 'Heating, Plumbing, A/C', 'Kopo Kopo DSR', 'Kopo Kopo DSR', 'Nairobi', 'Nairobi', 'Dennis Ogari', '6/8/2022', '1715713', '7/8/2022', '1559515', '8/7/2022', '1537806', '5/11/2022', '12/22/2022'], ['3032489', 'Active', '5/10/2022', 'KUN CARPETS AND BEYOND DISTRIBUTORS', 'KUN CARPETS AND BEYOND DISTRIBUTORS', 'Clothing and accessories', 'Luggage and Leather Goods Stores', 'Kopo Kopo DSR', 'Kopo Kopo DSR', 'Nairobi', 'Nairobi', "Samuel Mungai Ndung'u", '6/8/2022', '925823', '7/8/2022', '1177230', '8/7/2022', '312670', '5/11/2022', '12/4/2022'], ['3032491', 'Active', '5/10/2022', 'MAKUTI BAR-CHOGORIA', 'MAKUTI BAR-CHOGORIA', 'Restaurants & Bars', 'Drinking Places', 'Kopo Kopo DSR', 'Kopo Kopo DSR', 'Tharaka Nithi', 'Central/Upper Eastern', 'Wilson Mwai', '6/8/2022', '34333', '7/8/2022', '58320', '8/7/2022', '90180', '5/11/2022', '12/22/2022'], ['3032493', 'Active', '5/10/2022', 'MASIKIOZ ELECTRONICS 2-magdalene koki', 'MASIKIOZ ELECTRONICS-magdalene koki', 'Electronics, computers, and mobiles', 'Electronics Stores', 'Kopo Kopo DSR', 'Kopo Kopo DSR', 'Nairobi', 'Nairobi', 'Tyson Muthomi Mutegi', '6/8/2022', '23666', '7/8/2022', '101106', '8/7/2022', '137420', '5/11/2022', '12/22/2022'], ['3032495', 'Active', '5/10/2022', 'MASIKIOZ ELECTRONICS-magdalene koki', 'MASIKIOZ ELECTRONICS-magdalene koki', 'Electronics, computers, and mobiles', 'Electronics Stores', 'Kopo Kopo DSR', 'Kopo Kopo DSR', 'Nairobi', 'Nairobi', 'Tyson Muthomi Mutegi', '6/8/2022', '301382', '7/8/2022', '227000', '8/7/2022', '365625', '5/11/2022', '12/22/2022'], ['3032497', 'Active', '5/10/2022', 'OLE MEAT JOINT BUTCHERY 2-PETER KESIRE', 'OLE MEAT JOINT BUTCHERY-PETER KESIRE', 'Food and grocery', 'Freezer and Locker Meat Provisioners', 'Kopo Kopo DSR', 'Kopo Kopo DSR', 'Nairobi', 'Nairobi', 'Kennedy Muriithi Gichirah', '6/8/2022', '9847', '7/8/2022', '200', '8/7/2022', '', '5/12/2022', '9/23/2022']]

In [168]:
# Convert the data into a Pandas DataFrame
df = pd.DataFrame(values[1:], columns=values[0])

# show full rows
pd.set_option('max_colwidth', None)

print(df.head)

<bound method NDFrame.head of                 Till Number Till Status Till Creation Date  \
0                    525356      Active          4/13/2022
1     525356-ARCHIVED-82874    Archived          4/11/2022
2                   3032485      Active          5/10/2022
3                   3032487      Active          5/10/2022
4                   3032489      Active          5/10/2022
...                     ...         ...                ...
6994                9630815      Active          3/23/2022
6995                9630817      Active          3/23/2022
6996                9630819      Active          3/23/2022
6997                9630821      Active          3/23/2022
6998                9630823      Active          3/23/2022

                                           Till Name  \
0                     Jub Traders - Kariobangi North
1                     Jub Traders - Kariobangi North
2                                 JUNMO DISTRIBUTORS
3     KEFAS HARDWARE & SOLAR SYSTEMS - Peter Kariuki
4                KUN CARPETS AND BEYOND DISTRIBUTORS
...                                              ...
6994                                     JOYMAX CAFE
6995                  Jaslyn printers And Stationers
6996                     LEGEND GROCERY-John wachira
6997                       Rongai butchery and hotel
6998                    TEALAND BAR AND RESTAURANT 1

                                        Company Name  \
0                                        Jub Traders
1                                      Job Ploythene
2                                 JUNMO DISTRIBUTORS
3     KEFAS HARDWARE & SOLAR SYSTEMS - Peter Kariuki
4                KUN CARPETS AND BEYOND DISTRIBUTORS
...                                              ...
6994                                     JOYMAX CAFE
6995                  Jaslyn printers And Stationers
6996                     LEGEND GROCERY-John wachira
6997                                 Rongai Butchery
6998                      TEALAND BAR AND RESTAURANT

                                Merchant Category  \
0                            Miscellaneous Retail
1                            Miscellaneous Retail
2                              Restaurants & Bars
3     Hardware, building supply, gardening, tools
4                        Clothing and accessories
...                                           ...
6994                           Restaurants & Bars
6995                       Miscellaneous Services
6996                             Food and grocery
6997                             Food and grocery
6998                           Restaurants & Bars

              Merchant Category Description Original Channel          Channel  \
0            Miscellaneous Specialty Retail           Online           Online
1            Miscellaneous Specialty Retail        Coca Cola  Additional Till
2     Package Stores-Beer, Wine, and Liquor    Kopo Kopo DSR    Kopo Kopo DSR
3                    Heating, Plumbing, A/C    Kopo Kopo DSR    Kopo Kopo DSR
4          Luggage and Leather Goods Stores    Kopo Kopo DSR    Kopo Kopo DSR
...                                     ...              ...              ...
6994             Eating Places, Restaurants    Kopo Kopo DSR    Kopo Kopo DSR
6995        Miscellaneous Business Services    Kopo Kopo DSR    Kopo Kopo DSR
6996           Grocery Stores, Supermarkets    Kopo Kopo DSR    Kopo Kopo DSR
6997   Freezer and Locker Meat Provisioners    Kopo Kopo DSR    Kopo Kopo DSR
6998  Package Stores-Beer, Wine, and Liquor    Kopo Kopo DSR    Kopo Kopo DSR

       County       Region              Onboarder 1st 30 Milestone Date  \
0     Nairobi      Nairobi        Zipporah Nekesa             5/12/2022
1     Nairobi      Nairobi             John Kyule             5/10/2022
2      Kiambu      Nairobi   Daniel Makori Mokebo              6/8/2022
3     Nairobi      Nairobi           Dennis Ogari              6/8/2022
4     Nairobi      Nairobi  Samuel Mungai Ndung'u              6/8/2022
...       ...          ...                    ...                   ...
6994  Kajiado      Nairobi   Mugambi Moses Zakayo             4/21/2022
6995  Nairobi      Nairobi     Fred Ontita Makori             4/21/2022
6996  Nairobi      Nairobi   Tyson Muthomi Mutegi             4/21/2022
6997   Nakuru  Rift Valley   Isaac Kiptoon Chebon             4/21/2022
6998    Nandi  Rift Valley          Duncan Kemboi             4/21/2022

     1st 30 Transaction Volume 2nd 30 Milestone Date  \
0                       888011             6/11/2022
1                         8331              6/9/2022
2                       360971              7/8/2022
3                      1715713              7/8/2022
4                       925823              7/8/2022
...                        ...                   ...
6994                    142502             5/21/2022
6995                     97432             5/21/2022
6996                    360253             5/21/2022
6997                    316214             5/21/2022
6998                     33568             5/21/2022

     2nd 30 Transaction Volume 3rd 30 Milestone Date  \
0                       942180             7/11/2022
1                                           7/9/2022
2                       456292              8/7/2022
3                      1559515              8/7/2022
4                      1177230              8/7/2022
...                        ...                   ...
6994                    129267             6/20/2022
6995                     47506             6/20/2022
6996                    398342             6/20/2022
6997                    252946             6/20/2022
6998                     41858             6/20/2022

     3rd 30 Transaction Volume First Transaction Date Last Transaction Date
0                       822134              4/13/2022            12/22/2022
1                                           4/11/2022             4/12/2022
2                       622181              5/12/2022            12/22/2022
3                      1537806              5/11/2022            12/22/2022
4                       312670              5/11/2022             12/4/2022
...                        ...                    ...                   ...
6994                    122292              3/24/2022            12/20/2022
6995                     80057              3/23/2022            12/22/2022
6996                    426039              3/24/2022            12/22/2022
6997                    201337              3/24/2022            12/22/2022
6998                     31209              3/31/2022            12/22/2022

[6999 rows x 20 columns]>

In [169]:
df['First Transaction Date'] = pd.to_datetime(df['First Transaction Date'])
df['Last Transaction Date'] = pd.to_datetime(df['Last Transaction Date'])
df['2nd 30 Milestone Date'] = pd.to_datetime(df['2nd 30 Milestone Date'])
df['1st 30 Milestone Date'] = pd.to_datetime(df['1st 30 Milestone Date'])
df['3rd 30 Milestone Date'] = pd.to_datetime(df['3rd 30 Milestone Date'])
df['Till Creation Date'] = pd.to_datetime(df['Till Creation Date'])
df['Till Number'] = df['Till Number'].astype('str',errors='ignore')
df['Till Name'] = df['Till Name'].astype('str',errors='ignore')
df['Onboarder'] = df['Onboarder'].astype('str',errors='ignore')
df['Company Name'] = df['Company Name'].astype('str',errors='ignore')
df['Merchant Category'] = df['Merchant Category'].astype('str',errors='ignore')
df['Channel'] = df['Channel'].astype('str',errors='ignore')
df['County'] = df['County'].astype('str',errors='ignore')
df['Region'] = df['Region'].astype('str',errors='ignore')
df['Original Channel'] = df['Original Channel'].astype('str',errors='ignore')
df['Till Status'] = df['Till Status'].astype('str',errors='ignore')

df['1st 30 Transaction Volume'] = pd.to_numeric(df['1st 30 Transaction Volume'])
df['2nd 30 Transaction Volume'] = pd.to_numeric(df['2nd 30 Transaction Volume'])
df['3rd 30 Transaction Volume'] = pd.to_numeric(df['3rd 30 Transaction Volume'])

# print(df.head)

In [170]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6999 entries, 0 to 6998
Data columns (total 20 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Till Number                    6999 non-null   object
 1   Till Status                    6999 non-null   object
 2   Till Creation Date             6999 non-null   datetime64[ns]
 3   Till Name                      6999 non-null   object
 4   Company Name                   6999 non-null   object
 5   Merchant Category              6999 non-null   object
 6   Merchant Category Description  6999 non-null   object
 7   Original Channel               6999 non-null   object
 8   Channel                        6999 non-null   object
 9   County                         6999 non-null   object
 10  Region                         6999 non-null   object
 11  Onboarder                      6999 non-null   object
 12  1st 30 Milestone Date          6975 non-null   datetime64[ns]
 13  1st 30 Transaction Volume      6955 non-null   float64
 14  2nd 30 Milestone Date          6975 non-null   datetime64[ns]
 15  2nd 30 Transaction Volume      4782 non-null   float64
 16  3rd 30 Milestone Date          6975 non-null   datetime64[ns]
 17  3rd 30 Transaction Volume      3480 non-null   float64
 18  First Transaction Date         6526 non-null   datetime64[ns]
 19  Last Transaction Date          6526 non-null   datetime64[ns]
dtypes: datetime64[ns](6), float64(3), object(11)
memory usage: 1.1+ MB

In [174]:
# get list of all months in dataset
df['MonthYear'] = df['First Transaction Date'].dt.strftime('%Y-%m')
# df.info()

# Get the distinct month-years
monthyears = df['MonthYear'].drop_duplicates().sort_values()

# Print the distinct month-years
# print(monthyears)
# print(df.head)

for my in monthyears:
#         str(my) = {"1st30tv":"","2nd30tv":"","3rd30tv":"","1st30p":"","2nd30p":"","3rd30p":""}
        batch = df[df['MonthYear'] == my]
#         print(batch)
        firsttv = batch['1st 30 Transaction Volume'].sum()
        secondtv = batch['2nd 30 Transaction Volume'].sum()
        thirdtv = batch['3rd 30 Transaction Volume'].sum()
        
        print("Month "+str(my))
        print(batch.size)
        print('first 30 is ' + str(firsttv))
        print('second 30 is ' + str(secondtv))
        print('third 30 is ' + str(thirdtv) + "\n")
        
        


# second30 for each month
# third30 for each month

Month 2022-01
19152
first 30 is 119026224.0
second 30 is 130345759.0
third 30 is 132886898.0

Month 2022-02
23163
first 30 is 144616310.0
second 30 is 161261317.0
third 30 is 140825224.0

Month 2022-03
20454
first 30 is 129931995.0
second 30 is 147370410.0
third 30 is 131807683.0

Month 2022-04
1722
first 30 is 1839709.0
second 30 is 3486242.0
third 30 is 4096341.0

Month 2022-05
2037
first 30 is 11471734.0
second 30 is 13399182.0
third 30 is 10874747.0

Month 2022-06
483
first 30 is 1418422.0
second 30 is 1282603.0
third 30 is 1285222.0

Month 2022-07
105
first 30 is 27.0
second 30 is 0.0
third 30 is 0.0

Month 2022-08
63
first 30 is 16.0
second 30 is 0.0
third 30 is 0.0

Month 2022-09
3381
first 30 is 26037351.0
second 30 is 27818709.0
third 30 is 25184894.0

Month 2022-10
21672
first 30 is 189278803.0
second 30 is 218664475.0
third 30 is 48667666.0

Month 2022-11
28245
first 30 is 221192120.0
second 30 is 113129598.0
third 30 is 331015.0

Month 2022-12
16569
first 30 is 60961117.0
second 30 is 1495187.0
third 30 is 3450.0

Month nan
0
first 30 is 0.0
second 30 is 0.0
third 30 is 0.0